{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
      #wenshidu{
        width: 600px;
        height: 400px;
      }
      #image1,#image0{
        width: 800px;
        height: 400px;
      }
{#      .feng{#}
{#        width: 150px;#}
{#        height: 100px;#}
{#      }#}
    .feng{
        width:150px;
        height:200px;
    }
    </style>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/macarons.js' %}"></script>

{% if request.session.username %}
    <!-- echarts -->
    <div class="col-md-12 col-sm-12">
      <div class="col-md-6 col-sm-12" id="wenshidu"></div>

      <div class="col-md-3 col-sm-12" id="indoor">
        <img src="{% static '1.png' %}" alt="" id="image1">
        <img src="{% static '0.png' %}" alt="" id="image0">
      </div>

      <div class="col-md-1 col-md-offset-2 col-sm-12" id="fengshan">
        <img class="feng" src="{% static 'ff1.gif' %}" alt="风扇开" id="feng1">
        <img class="feng" src="{% static 'ff0.jpg' %}" alt="风扇关" id="feng0">
      </div>

      <div class="col-md-12 col-sm-12" id="ctrlbtn">
          <button onclick="ctrlset()" class="btn btn-primary col-md-5 col-sm-12" >点击进行一次喂食</button>
          <button  type="button" class="btn btn-info col-md-offset-1 col-md-4 col-sm-12" >喂食次数 </button>
          <button type="button" id="numbersum" class="btn btn-default col-md-2 col-sm-12" ></button>
      </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>


    {% else %}
        you can not view this page
    {% endif %}


    <script>
      //fetch异步请求函数
      function status(response){
          if(response.status>=200 && response.status<300){
              return Promise.resolve(response);
          }
          else{
              return Promise.reject(new Error(response.statusText));
          }
      }
      function json(response){
          return response.json();
      }

      function ctrlset(){
          fetch("/cmdopen")
              .then(status)
              .then(json)
              .then(function (data) {
                  console.log('ok');
              })

      }
      //请求数据函数
      function getData(){
        fetch("http://127.0.0.1:8000/numsum/")
            .then(status)
            .then(json)
            .then(function (data) {
                var num = document.getElementById("numbersum");
                num.innerHTML = data;
            })
        //请求风扇是否打开
        fetch("http://119.29.201.31:3000/feng")
          .then(status)
          .then(json)
          .then(function(data){
{#            var div = document.getElementById('fengshan');#}
            var feng1 = document.getElementById('feng1');
            var feng0 = document.getElementById('feng0');
            if (data[data.length-1] == 1) {
              feng1.style.display = "block";
              feng0.style.display = "none";
            }else{
              feng1.style.display = "none";
              feng0.style.display = "block";
            }
          })

         //请求宠物是否在屋内
        fetch("http://119.29.201.31:3000/indoor")
          .then(status)
          .then(json)
          .then(function(data){

            var div = document.getElementById('indoor');
            var image1 = document.getElementById('image1');
            var image0 = document.getElementById('image0');

              if(data[data.length-1] == 1){
                 image0.style.display = "none";
                 image1.style.display = "block";
              }else{
                 image1.style.display = "none";
                 image0.style.display = "block";
              }
          })
          .catch(function(err){
              console.log("Fetch错误:"+err);
          });

              //请求时间
        fetch("http://119.29.201.31:3000/time")
          .then(status)
          .then(json)
          .then(function(data){
              // 折线图湿度
              myChart.setOption({
                      xAxis:{
                  data:data
                }
              });
          })
          .catch(function(err){
              console.log("Fetch错误:"+err);
          });

        //请求温度数据
        fetch("http://119.29.201.31:3000/tem")
          .then(status)
          .then(json)
          .then(function(data){
              //折线图温度
              myChart.setOption({

                     series: [{
                         // 根据名字对应到相应的系列
                         name: 'TEM',
                         data: data
                     }]
              });
          })
          .catch(function(err){
              console.log("Fetch错误:"+err);
          });

        //请求湿度数据
      fetch("http://119.29.201.31:3000/hum")
        .then(status)
        .then(json)
        .then(function(data){
            // 折线图湿度
            myChart.setOption({
                   series: [{
                       // 根据名字对应到相应的系列
                       name: 'HUM',
                       data: data
                   }]
            });
        })
        .catch(function(err){
            console.log("Fetch错误:"+err);
        });
      }

    //更新ECharts数据
    setInterval('getData()',2000);

     var myChart = echarts.init(document.getElementById('wenshidu'),'macarons');

     var option = {
            title: {
                text: 'TEM AND HUM'
            },
            tooltip: {
                trigger:'axis'
            },
            legend: {
                data:['TEM','HUM']
            },
            toolbox:{
              show: true,
              feature:{
                  dataZoom:{
                      yAxisIndex:'none'
                  },
                  dataView:{readOnly: false},
                  magicType:{type:['line','bar']},
                  restore:{},
                  saveAsImage:{}
              }
            },
            xAxis: {
                data: ["1","2","3","4","5"]
            },
            yAxis: {},
            series: [{
                name: 'TEM',
                type: 'line',
                data: [5, 20, 36, 10, 10, 20],
                markPoint:{
                    data:[
                        {type:'max', name:'max'},
                        {type:'min', name:'min'}
                    ]
                },
                markLine:{
                    data: [
                        {type:'average',name:'平均值'}
                    ]
                }
            },{
                name: 'HUM',
                type: 'line',
                data: [15, 30, 46, 50, 60, 20],
                markPoint:{
                    data:[
                        {type:'max', name:'max'},
                        {type:'min', name:'min'}
                    ]
                },
                markLine:{
                    data: [
                        {type:'average',name:'平均值'}
                    ]
                }
            }]
        };
      myChart.setOption(option);
    </script>

{% endblock %}